modules = ["cpp-clang14", "c-clang14", "swift-5.8"]
run = "flutter run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "flutter run --web-hostname=0.0.0.0 --web-port=5000"]

[workflows]
runButton = "Flutter Run"

[[workflows.workflow]]
name = "Flutter Run"
author = 40669021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run --web-hostname=0.0.0.0 --web-port=5000"
