modules = ["cpp-clang14", "c-clang14", "swift-5.8", "dart-2.18", "dart-3.5", "nix", "r-4.4", "swift-5.6", "web", "docker"]
run = "flutter run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "flutter run --web-hostname=0.0.0.0 --web-port=5000"]

[workflows]
runButton = "Flutter Run"

[[workflows.workflow]]
name = "Flutter Run"
author = 40669021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PATH=\"$PATH:/usr/local/flutter/bin\" && flutter doctor && flutter pub get && flutter run --web-hostname=0.0.0.0 --web-port=5000"
