<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Brill Prime</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>brill_prime</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>


		<key>NSCameraUsageDescription</key>
    	<string>Brill Prime requires access to camera for taking pictures for verification</string>
    	<key>NSContactsUsageDescription</key>
    	<string>Enables you select beneficiaries from your contact to send do mobile top-up</string>
    	<key>NSFaceIDUsageDescription</key>
    	<string>To secure app with biometrics</string>
    	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    	<string>Your location is required for this app.</string>
    	<key>NSLocationAlwaysUsageDescription</key>
    	<string>Your location is required for this app.</string>
    	<key>NSLocationWhenInUseUsageDescription</key>
    	<string>Your location is required for this app to be able to show stores around you.</string>
    	<key>NSMicrophoneUsageDescription</key>
    	<string>Brill Prime requires access to microphone for verification</string>
    	<key>NSPhotoLibraryUsageDescription</key>
    	<string>Brill Prime requires access to photos for profile pictures</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>flutter_deeplinkexample</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.brill.prime</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.19370311423-YOUR_CLIENT_ID</string>
			</array>
		</dict>
	</array>
</dict>
</plist>